*.bak
*.pyc
*.xml
*.tar.gz
*.iml
*.icls
/_windows/
/codestyles/
# Temp
build/
docs/build/
docs/_build/
dist/
*.egg-info/
colors
# IDE
.idea/
# jupyter
.ipynb_checkpoints

#docs/source/_static/
#docs/source/_templates/
.DS_Store
/data
/tests/data

.venv

*.log

*.png
*.gif

t/t_chromedriver/chrome_profile
data_2_local/dividend/data/stock_fhps_detail_em_2_local/status.txt
data_2_local/sync_stock_industry_change/data/sync_stock_industry_change/sync_objectid.txt
data_2_local/sync_stock_industry_change/data/sync_stock_industry_change_cninfo_inc/status.txt