[Unit]
Description=sync_stock_fhps_detail_em service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/arrow/code/invest/takshare/data_2_local/dividend/sync_stock_fhps_detail_em.sh
User=arrow

[Install]
WantedBy=multi-user.target