[Unit]
Description=sync_dividend service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/arrow/code/invest/takshare/data_2_local/dividend/sync_dividend.sh
User=arrow

[Install]
WantedBy=multi-user.target