[Unit]
Description=bfq_daily_etf_price_2_local daily sync script service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/arrow/code/invest/takshare/data_2_local/sh/bfq_daily_etf_price_2_local/bfq_daily_etf_price_2_local.sh
User=arrow