[Unit]
Description=sync_dividend service
After=sync_stock_fhps_detail_em.service
Requires=sync_stock_fhps_detail_em.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/arrow/code/invest/takshare/data_2_local/sh/sync_dividend/sync_dividend.sh
User=arrow

[Install]
WantedBy=multi-user.target